.video_card{
    width: 20rem;
    height: 12rem;
    margin-bottom: 5rem;
   
}
.card_content{
    display: flex;
    flex-direction: column;
    margin: 8px;
    top: 0;
}
.card_description{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 2rem;
    grid-gap: 4px;
    gap: 4px;
    color: #fff;
}
.thumbnail_img{
    width: 100%;
    height: 12rem;
    border-radius: 10px;

}
.creator_name{
    color: var(--offline-color);
    margin-top: 5px;
}
.card_name{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: max-content;
    color: #fff;
    font-size: 14px;
}

@media only screen and (max-width: 600px){
    
}