header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
   
}

 ul li{
    display: inline-block;
    margin: 2rem;
}
.logo{
    font-size: xx-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    color:var(--hover-bg);
}
.searchbar{
    width: 25rem;
    height: 5vh;
    background-color: var(--cta-color);
    border-radius: 10px;
    border-color:var(--hover-bg);
}
.btn-primary{
    color: var(--primary-font-colour);
    background-color: var(--hover-bg);
}
@media only screen and (max-width: 600px) {
    
    header {
      display: flex;
     justify-content: center;
      align-items: center;
      width: 100%;
      height: 10vh;
      background-color: var(--cta-color);
    }
   
    .searchbar{
        width:5rem;
        height: 3vh;
        background-color: var(--cta-color);
        border-radius: 10px;
        border-color:var(--hover-bg);
        margin-left: -20px;
      
    }
    .logo{
        font-size: large;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color:var(--hover-bg);
       
    }
    ul li{
        display: inline-block;
        margin: 2rem;
    }
    .btn-primary{
        width:min-content;
        height: min-content;
        margin-left:5%;
    }
  }