.page-footer{
    color: #fff;
    display: flex;
    justify-content: space-around;
    margin: 3rem 0 1rem;

}
.page_footer_linkbar{
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    grid-gap: 2rem;
    gap: 2rem;
}
.social-connecting-links{
    color: whitesmoke;
}