.inner_container{
    display:flex;
     width: 75%;
    height: 25rem;
     padding: 1rem;
     flex-direction: row;
     gap: 10px;
     position: absolute;
     flex-wrap: wrap;
     top: 15%;
     left: 18%;
     color: var(--hover-bg);
}
.inner_video{
    display: flex;
    flex-direction: row;
    gap: 16px;
    position: absolute;
    top: 15%;
    
    

}
.a{
    color: var(--primary-font-colour);
}
@media only screen and (max-width: 600px){
    .inner_container{
        top: 35%;
        left: 8%;
    }
}